<a href="https://colab.research.google.com/github/EzraGoldsmith/FastFutures-Advanced-Data-Analysis-Bootcamp/blob/main/Getting_Started_FF(A)DAB_Python_Workshop_(Week_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting started

In [ ]:
print("Hello world!")

hello world!

I'm a text box - hello world!

\begin{array}
∑_{n=1}^{\infty}\frac{1}{n} = -\frac{1}{12}
\end{array}

# Part 1: Introduction

This data is stored in the Google Cloud. Thanks Google!

In [ ]:
5-2 # this is my first code

3

In [ ]:
x = 1
i = 1
while i < 10:
  x = x+1
  print("The current value of the variable x is %d" % x)
  i = i+1

The current value of the variable x is 2
The current value of the variable x is 3
The current value of the variable x is 4
The current value of the variable x is 5
The current value of the variable x is 6
The current value of the variable x is 7
The current value of the variable x is 8
The current value of the variable x is 9
The current value of the variable x is 10

Use 'ctrl' instead of 'cmd' for shortcuts!

'ctrl + M + H' lets you replace shortcuts ('ctrl + M H', M & H together, opens a simpler pop-up window!)

'ctrl + M + B' adds a code textbox

The Mac alternative for 'alt' is 'option'

# Part 2: Variable types and formatting

There are four main types of variable:

In [ ]:
bool
float
int
str

"Tuples are immutable" - thanks Mercy!

In [ ]:
print(type(bool),type(2),type(True),type(3.2))

<class 'type'> <class 'int'> <class 'bool'> <class 'float'>

In [ ]:
type([1,2,3])

list

In [ ]:
for element in [1,2.4,"Hi!"]:
  print("%s is of type: %s" % (element, type(element)))

1 is of type: <class 'int'>
2.4 is of type: <class 'float'>
Hi! is of type: <class 'str'>

In [ ]:
print("their apparent \nintention was \"dishonest\"")

their apparent
intention was "dishonest"

# Part 3: Indexing

Each string has an index starting at zero. We can use this to call upon specific characters

In [ ]:
my_string = "Hello!"
print(my_string[0]+my_string[4], my_string[0]+my_string[4], my_string[0]+my_string[4])

Ho Ho Ho

In [ ]:
print(my_string[:4])  # does not include the character with index = 4
print(my_string[:5])

Hell
Hello

In [ ]:
x = "Hello Mercy!"
var = "!ycreM olleH"
print(var[::-1])

Hello Mercy!

# Part 4: Further formatting

In [ ]:
str1 = "I enjoy python"
str2 = "a lot"
print(str1 + str2)
print(str1+" "+str2)
print(str1 + (" "+str2)*3)
print(str1+"\t"+str2)

I enjoy pythona lot
I enjoy python a lot
I enjoy python a lot a lot a lot
I enjoy python	a lot

In [ ]:
UpperStr1 = str1.upper()
print(UpperStr1)

I ENJOY PYTHON

In [ ]:
str1.count("n")  # Case sensitive
str1.count("N")
str1.lower().count("i")

1

In [ ]:
print(str1)
str1.find("i")  # -1 means doesn't exist
str1.find("I")

I enjoy python

0

In [ ]:
str3="Hello world?"
print(str3.replace("?","!"))

Hello world!

In [ ]:
str4="Hello_World!"
print(str4.split("_"))

['Hello', 'World!']

The ‘replace’ method doesn’t allow for more than 3 arguments (i.e. the value you want replacing, what you want it replacing with, and the number of times you replace it)

In [ ]:
str5="Hell0 w0rld?"
str5.replace("0","o"), str5.replace("?","!")
print(str5)
str6 = str5.replace("0","o").replace("?","!")
print(str6)

Hell0 w0rld?
Hello world!

Other types of formatting

In [ ]:
str7="I will earn £{} by {}."
amount=30000
month="August"
print(str7.format(amount,month))

I will earn £30000 by August.

In [ ]:
print("I will earn %d by %s." % (amount, month))

I will earn 30000 by August.

In [ ]:
print(f"I will earn {amount} by {month}")  # f-string

I will earn 30000 by August

In case you ever get lost (or can't access StackExchange)...

In [ ]:
help(format)  # Requested by other webinar participant

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [ ]:
MyString="I bought {1}kg of {2} that cost me £{0}"
quant=5
item="apples"
cost=10
print(MyString.format(quant,item,cost))
print(MyString.format(cost, quant, item))
MyOtherString = "I bought {2}kg of {0} that cost me £{1}"
print(MyOtherString.format(cost, quant, item))

I bought appleskg of 10 that cost me £5
I bought 5kg of apples that cost me £10
I bought appleskg of 10 that cost me £5

In [ ]:
YetAnotherString = "{name} is a {age} year-old {job}."
print(YetAnotherString.format(name="John", age=23, job="data analyst"))
print(YetAnotherString.format("John", 23, "data analyst"))  # Need to specify the key

John is a 23 year-old data analyst.

KeyError: ignored

In [ ]:
# Example for the webinar
info1 = ["John", 23, "data analyst"]
info2 = ["Sarah", 31, "pharmacist"]
info3 = ["Matt", 25, "lawyer"]
allInfo = [info1, info2, info3];
bioText = "Bio: {} is a {} years-old {}."
for info in allInfo:
  print(bioText.format(info[0], info[1], info[2]))

Bio: John is a 23 years-old data analyst.
Bio: Sarah is a 31 years-old pharmacist.
Bio: Matt is a 25 years-old lawyer.

# Part 5: More nonsense!

In [ ]:
frac1 = 10/7
round(frac1, 5)
print("Value is {var:1.5f}".format(var=10/7))

Value is 1.42857

In [ ]:
r = 2
pi = 3.1415
circum = 2 * pi * r
print(circum)

import math

pi = math.pi
print(pi)
actualCircum = 2*pi*r
print(actualCircum)

12.566
3.141592653589793
12.566370614359172

In [ ]:
if not(3>5):
  print("3 is not greater than 5.\n")

arg1 = 1
arg2 = 4
while arg1 <= 5:
  if not(arg1>arg2):
    print("{} is not greater than {}.".format(arg1, arg2))
  else:
    print("{} is greater than {}".format(arg1,arg2))
  arg1 += 1

print("\n")

for i in range(5):
  if i <= 3:
    print(i)
print(range(5))

3 is not greater than 5.

1 is not greater than 4.
2 is not greater than 4.
3 is not greater than 4.
4 is not greater than 4.
5 is greater than 4


0
1
2
3
range(0, 5)

In [ ]:
length = 10
width = 5
area = length * width
print(f"The area of a rectangle with length {length} and width {width} is {area}")

The area of a rectangle with length 10 and width 5 is 50